.edit-button {
  display: inline-flex;
  padding: 9px;
  align-items: flex-start;
  width: 92px;
  height: 92px;
}

.edit-button__circle {
  display: flex;
  width: 74px;
  height: 74px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 450px;
  position: relative;
  cursor: pointer;
  transition: background 0.2s ease;
  border: none;
  padding: 0;
  font: inherit;
}

.edit-button--light .edit-button__circle {
  background: #E0B400;
}

.edit-button--dark .edit-button__circle {
  background: #B08D00;
}

.edit-button--light.edit-button--enabled .edit-button__circle:hover {
  background: #BF9900;
}

.edit-button--dark.edit-button--enabled .edit-button__circle:hover {
  background: #BF9900;
}

.edit-button--light.edit-button--enabled .edit-button__circle:focus {
  background: #B08D00;
  outline: none;
}

.edit-button--dark.edit-button--enabled .edit-button__circle:focus {
  background: #B08D00;
  outline: none;
}

.edit-button--light.edit-button--enabled .edit-button__circle:active {
  background: #B08D00;
}

.edit-button--dark.edit-button--enabled .edit-button__circle:active {
  background: #B08D00;
}

.edit-button--light.edit-button--disabled .edit-button__circle {
  background: #E0B400;
  opacity: 0.4;
  cursor: not-allowed;
}

.edit-button--dark.edit-button--disabled .edit-button__circle {
  background: #B08D00;
  opacity: 0.4;
  cursor: not-allowed;
}

.edit-button__icon {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  position: relative;
}

.edit-button__icon-bounds {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.edit-button__icon-shape {
  width: 25px;
  height: 26px;
  flex-shrink: 0;
  fill: #FFF;
  position: absolute;
  left: 3px;
  top: 3px;
}
